/* Tag Selectors */
/*
    img {background-color: red;}
*/

#title {
    background-color: #ff9494;
    color:white;
}
h1 {
    font-family: 'Montserrat', sans-serif;
font-size:3rem;
line-height:1.5;}
    button {
font-family: 'Ubuntu', sans-serif;
}

.container-fluid {
    padding:3% 15%;
}

body {font-family: 'Montserrat', sans-serif;}

.navbar-brand {color:#FFF;
font: size 2rem;
font-family:"ubantu";}
.ms-auto {color:#FFF;}

#features {
    background-color: #ffe3e1;
}

#Appointment {
    background-color: #ff9494;
    
}



    h3 { text-align: left;
    font-size:2rem;}
    hr {
        border-style: none;
        border-top-style: dotted;
        border-color: lightgrey;
        border-width: 8px;
        width: 5%;
        height: 0px;
       }
    h1 {color: #fff;
        font-size:3rem;
        
    }
    h2 {font-size:2rem;}

p {font-size:2rem;} 

    /* Class Selectors */




 
.introduction {

    line-height:1.5;
    padding-left: 20px;;
}
    .btn {
        background: #11cdd4;
        background-image: -webkit-linear-gradient(top, #11cdd4, #11999e);
        background-image: -moz-linear-gradient(top, #11cdd4, #11999e);
        background-image: -ms-linear-gradient(top, #11cdd4, #11999e);
        background-image: -o-linear-gradient(top, #11cdd4, #11999e);
        background-image: linear-gradient(to bottom, #11cdd4, #11999e);
        -webkit-border-radius: 8;
        -moz-border-radius: 8;
        border-radius: 8px;
        font-family: Arial;
        color: #ffffff;
        font-size: 20px;
        padding: 10px 20px 10px 20px;
        text-decoration: none;
      }
      
      .btn:hover {
        background: #30e3cb;
        background-image: -webkit-linear-gradient(top, #30e3cb, #2bc4ad);
        background-image: -moz-linear-gradient(top, #30e3cb, #2bc4ad);
        background-image: -ms-linear-gradient(top, #30e3cb, #2bc4ad);
        background-image: -o-linear-gradient(top, #30e3cb, #2bc4ad);
        background-image: linear-gradient(to bottom, #30e3cb, #2bc4ad);
        text-decoration: none;
      }


.nav-link {
    font-size:1.2rem;
}

.title-image {
    width:60%;
    transform:rotate(25deg);
    /* transform:rotateY(25deg);
    transform:rotate3d(1,-1,1,45deg); */
}
p {line-height:2;}

.recommendations {
    background-color:#ffe3e1;
    margin-bottom:40px;
}

.conclusions {
    background-color:#ff9494;
}
